.acf_address {
  display: flex;
  flex-wrap: wrap;
}

.acf_address .address_wrap {
  flex: 0 0 98%;
  margin: 0 2% 5px 0;
  box-sizing: border-box;
}

.acf_address .address_sublabel {
  font-size: 10px;
  text-transform: uppercase;
  display: block;
  margin: 1px 0 0 3px;
  opacity: 0.75;
}

.acf_address .address_street {
}

.acf_address .address_street2 {
}

.acf_address .address_street3 {
}

.acf_address .address_city {
}

.acf_address .address_state {
}

.acf_address .address_zip {
}

.acf_address .address_country {
}

@media screen and (min-width: 783px) {

  .acf_address .address_city {
    flex: 3;
  }

  .acf_address .address_state {
    flex: 2;
  }

  .acf_address .address_zip {
    flex: 1;
  }

  .acf_address .address_country {
    flex: 2;
  }

}
